---
import { defaultLanguage, type LanguageCode } from '@/i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';
const currentLocale =
  (Astro.currentLocale as LanguageCode | undefined) ?? defaultLanguage;
---

<a href={getRelativeLocaleUrl(currentLocale)} class="block">
  <img
    src="/logos/logo-light.svg"
    alt="Logo del Portafolio"
    class="h-8 w-auto scale-200 transition-transform hover:scale-175 dark:hidden"
  />

  <img
    src="/logos/logo-dark.svg"
    alt="Logo del Portafolio"
    class="hidden h-8 w-auto scale-200 transition-transform hover:scale-175 dark:block"
  />
</a>